#body{
    background-image: url('background.png');
}
#banner_image{
    background-image: url('bannerbg.png');
    text-align: center;

}
h1{
    text-align: center;
    font-family: sans-serif;
    text-shadow: 2px 2px gray;
}
#main {
    alignment: center;
    border:gray 3px solid;
    margin-left: auto;
    margin-right: auto;
    width: 900px;
    height: 1000px;
    border-radius: 20px;
    position: relative;


}
#movie_profile{
    float: right;
    padding: 0px;
    background-color: #AFDC7E;

}

#overview_image{

    padding: 0px;
    float: right;
    border-radius: 50px;

}
.overview_image img{
    border-top-right-radius: 20px;
}
#movie_detail{
    width: 240px;
    padding: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    height: 980px;
    border-bottom-right-radius: 20px;
}

.total_rating{
    background-image: url('rbg.png');
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.total_rating img{
    border-top-left-radius: 50px;

}

.validator{
    float: right;
}
font{
    font-max-size: infinity;
    font-family: sans-serif;
    color: red;
    font-weight: bold;
    font-size: 100%;
}
#review_page{
    float: left;
    width: 645px;

}
#review_page > div > p{
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 10px;
    font-size: 12px;
}
.break{
    clear: right;
}
.reviews{

    background-color: khaki;
    margin: 10px;
    border-radius: 10px;
    border: 2px solid gray;
    width: 285px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;

}

.footer{
    width: 900px;
    background-color: #AFDC7E;
    bottom: 0;
    position: absolute;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    text-align: center;
}
.reviews_column1{
    float: left;

}
.reviews_column2{
    float: left;

}
